#!/usr/bin/make -f

#%:
#	dh $@
C_CLIENT_VER = $(shell dpkg-parsechangelog | egrep '^Version:' | cut -f 2 -d ' ')

configure: clean
	cd client/c && \
	./bootstrap.sh && \
	./configure

build: configure
	cd client/c && \
	make
install:
	sed -i 's/C_CLIENT_VER/$(C_CLIENT_VER)/g' debian/griddb-c-client.install
	sed -i 's/C_CLIENT_VER/$(C_CLIENT_VER)/g' debian/griddb-c-client.links
	dh_install
	dh_installdeb

binary: install
	dh_gencontrol
	dh_link
	dh_builddeb

clean:

.PHONY: clean configure build install binary
